.toolbar {
    position: fixed;
    top: 0;
    z-index: 10;
    font-weight: 300;
}

.messenger {
    overflow: auto;
    margin-top: 64px;
}

.message-row {
    padding: 0 16px;
    margin: 8px;
}
.message {
    display: inline-block;
    border-radius: 6px;
    padding: 16px;
    font-weight: 500;
}
.message-row.to {
    text-align: right;
    .message {
        background-color: #2095FE;
        color: #fff;
    }
}
.message-row.from {
    text-align: left;
    .message {
        background-color: #E5E4E9;
        color: #363636;
    }
}
.message-row.to + .message-row.to,
.message-row.from + .message-row.from {
    margin-top: -10px;
}

.send-message {
    height: 64px;
    width: 100%;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
    padding: 0 16px;
    background-color: #fafafa;
}

::ng-deep .send-message .mat-input-underline {
    display: none!important;
}