<mat-toolbar color="primary" class="toolbar mat-elevation-z3">
  <mat-icon>chat</mat-icon> &nbsp; Angular Chatbot
</mat-toolbar>

<div class="messages">

  <ng-container *ngFor="let message of messages | async">

    <div class="message-row" [ngClass]="{ 'from': message.sentBy === 'bot',
                                          'to':   message.sentBy === 'user' }">
      <div class="message">
        {{ message.content }}
      </div>
    </div>

  </ng-container>

</div>

<div class="send-message" (click)="messageInput.click()">
  <mat-form-field floatPlaceholder="never">
    <input matInput #messageInput [(ngModel)]="formValue" (keyup.enter)="sendMessage()" 
      placeholder="Type a message..." autofocus autocomplete="off">
  </mat-form-field>
</div>