/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: 'Roboto', sans-serif;
}

code {
    color: white;
    background: slateblue;
    padding: 3px;
    border-radius: 5px;
    font-size: 0.8em;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  }